.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Media Query for login */

@media only screen and (max-width:800px){
  .register-forgot{
      width:40vw;
  }
  .reg-pass{
    width:15vw;
  }
  .reg-pass-2{
    width:24vw;
  }
  .reg-pass-btn{
    width:15vw;
  }
  .reg-pass-btn-2{
    width:24vw;
  }
}

@media only screen and (max-width:500px){
  .register-forgot{
      width:70vw;
  }
  .reg-pass{
    width:25vw;
  }
  .reg-pass-2{
    width:45vw;
  }
  .reg-pass-btn{
    width:25vw;
  }
  .reg-pass-btn-2{
    width:45vw;
  }

  .formGroup-login input{
    width:70%;
  }
}
